* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

.map {
  padding: 40px 0;
  background-color: #f6f6f6;
}
